<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- This is the Student bean -->
    <bean class="entity.Student" name="student1">
        <property name="firstName">
            <value>Sebastian</value>
        </property>
        <property name="lastName">
            <value>Hähn</value>
        </property>
    </bean>

</beans>